{% extends 'base.html.twig' %}

{% block title %}Livres crées{% endblock %}

{% block body %}
    <h1>Tableau des livres crées</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Titre</th>
                <th>Description_livre</th>
                <th>Date_parution</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        
        {% for livre in livres %}
            <tr>
                <td>{{ livre.id }}</td>
                <td><img src='{{ livre.image }}' style='height: 250px; width: 150px;'></img></td>
                <td>{{ livre.titre }}</td>
                <td>{{ livre.descriptionLivre }}</td>
                <td>{{ livre.dateParution ? livre.dateParution|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_livre_show', {'id': livre.id}) }}">Voir</a>
                    <a href="{{ path('app_livre_edit', {'id': livre.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune entité trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_livre_new') }}">Nouveau livre</a>
{% endblock %}
