{% extends "base.html.twig" %}

{% block title %}
Liste des livres diponibles en ce moment.
{% endblock %}

{% block body %} 

<h3> Nos livres en stock : </h3><br>
<div class="pagelistelivres">

        {% for livre in livres %}
        <div class="unLivre">
        <table>

                <thead>
                    <tr>
                        {# <th scope="col"><h4>{{ livre.titre }}</h4></th> #}
                    </tr>
                </thead>

                <tr>
                    <td><img class="imgLivre" src='{{ livre.image }}'></img></td>

                    <td><p class="pDescLivre" id="style-7">{{ livre.descriptionLivre }}</p></td>
                </tr>

                <tr>
                    <th><a href="{{path('emprunts')}}" class="btn btn-primary mr-10"> Emprunter </a></th>
                    <td>Date de parution : {{ livre.dateParution ? livre.dateParution|date('d/m/Y') : '' }}</td>
                </tr>
        </table>
        </div>
            <br>
        {% else %}
            <tr>
                <h1>Aucun livre disponible pour l'instant</h1>
            </tr>
        {% endfor %}
<div>

 {% endblock %}